<!-- main view -->

<div class="row">

    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

        <div class="booking">

            <form name="bookingForm" class="form-inline" role="form" data-ng-submit="submitSearch()" data-ng-show="!gutGesucht" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        Origin
                    </div>
                </div>
                <div class="row">
                    <typeahead ta-id="origin" ta-model="bookingData.origin" ta-submitted="submitted" ta-name="origin" ta-placeholder="Your origin" ta-select="selectOrigin(item)">
                    </typeahead>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <a type="button" class="btn btn-xs" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i>
                                </a>
                            </div>
                            <input type="text" data-ng-class="{'submitted' : submitted}" class="form-control" datepicker-popup="{{format}}" ng-model="dateStart" is-open="startDateOpenend" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        Destination
                    </div>
                </div>
                <div class="row">
                    <typeahead ta-id="destination" ta-name="destination" ta-submitted="submitted" ta-model="bookingData.destination"  ta-placeholder="Your destination" ta-select="selectDestination(item)">
                    </typeahead>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <a type="button" class="btn btn-xs" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i>
                                </a>
                            </div>
                            <input type="text" data-ng-class="{'submitted' : submitted}" class="form-control" datepicker-popup="{{format}}" ng-model="dateEnd" is-open="endDateOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="clearfix">&nbsp;</div>
                        <button class="btn btn-primary btn-block">Search</button>
                    </div>
                </div>

            </form>

            <div class="alert alert-success" data-ng-show="gutGesucht">Well searched :)</div>
        </div>

    </div>

</div>

